.home {
    section {
        position: relative;
        min-height: 100vh;
        width: 100%;
    }
}

.home-menu {
    background-color: var(--bg-color-light);
    opacity: 0;
    z-index: 100;

    &.active {
        opacity: 1;
    }
}

.home-introduction {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-image: url('https://c.wallhere.com/photos/2a/f8/5038x3214_px_drink_grapes_Wine-544812.jpg!d');
    background-position: bottom;
    background-size: cover;
    background-color: #000000af;
    background-blend-mode: soft-light;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;



    .intro-content {
        position: relative;
        width: 100%;
        height: auto;
        padding: 2rem;
        text-align: center;
        font-size: 24px;
    }

    .btn {
        margin-right: 1rem;
    }

    h1 {
        
        margin-bottom: 2rem;
        font-size: 4rem;
        
    }

    p {
        margin-bottom: 1rem;
    }

    footer {
        opacity: 0;
        
    }
}


.more {
    padding: 3rem 2rem;
    display: flex;

    .card {
        margin-right: 1rem;

        h2 {}
    }
}

@media screen and (min-width : 640px) {
    .home-introduction {
        .intro-content {
            position: absolute;
            margin: 0 auto;
            left: 50%;
            width: 70%;
            bottom: 10%;
            transform: translateX(-50%);
        }
    }
}