.home {
    section {
        min-height: 100vh;
    }
}

.home-introduction {
    position: relative;
    background-image: url('https://c.wallhere.com/photos/fd/f0/wine_drink_grapes-45123.jpg!d');
    background-attachment: fixed;
    background-position: right bottom;
    background-color: #00000065;
    background-blend-mode: soft-light;
    background-size: 100%;
    background-repeat: no-repeat;

    padding: 1rem;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-content {
    h1, p {
        margin-bottom: 2rem;
    }

    .btn {
        margin-right: 1rem;
    }

}

.home-menu {

    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: initial;
    }
}


@media screen and (min-width : 640px) {
    .home-introduction {
        background-image: url('https://c.wallhere.com/photos/fc/4d/wine_grapes_barrel-633188.jpg!d');
    background-attachment: fixed;
    background-position: top;
        background-size: cover;
    }

    .intro-content {
        position: absolute;
        left: 50%;
        bottom: 10%;
        width: 50%;
        transform : translateX(-50%);
        padding: 2rem 3rem;
        background-color: #00000054;
    }
}