.home {
    section {
        position: relative;
        min-height: 100vh;
        width: 100%;
    }

}


.home-introduction {
    height: 100vh;
    background-attachment: fixed;
    background-image: url('https://c.wallhere.com/photos/2a/f8/5038x3214_px_drink_grapes_Wine-544812.jpg!d');
    background-position: bottom;
    background-size: cover;
    background-color: #000000af;
    background-blend-mode: soft-light;
    color : #fff;
    


    main {
        position: absolute;
        margin: 0 auto;
        left: 50%;
        width: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        padding: 2rem;
        text-align: center;
    }

    .btn {
        color: #000000;
        margin-right: 1rem;
        background-color: var(--color-secondary-base);
    }

    h1 {
        margin-bottom: 2rem;
        font-size: 4rem;
    }
    p{
        margin-bottom: 1rem;
    }
}

.more {
    padding: 3rem 2rem;
    display: flex;

    .card {
        margin-right: 1rem;

        h2 {
            
        }
    }
}