@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Sans+Pro:wght@200;300&display=swap');

@import 'home';

:root {
    --color-primary-base: #e4b131;
    --color-secondary-base: #39b339;
    --bg-color-base: #0e0d0d;
    --bg-color-light: #1b1919;
    --bg-color-light-2: #242121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.title {
    font-family: 'Abril Fatface', serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

input,
button,
textarea,
.btn {
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
}

.color-primary {
    color: var(--color-primary-base);
}

.color-secondary {
    color: var(--color-secondary-base);
}

img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

textarea {
    resize: none;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 16px;
    letter-spacing: .5px;
    color: #f3f3f3;
    background-color: #0e0d0d;
}

input,
textarea {
    background-color: var(--bg-color-light);
    border: none;
    color: inherit;
    outline: none;
    letter-spacing: 1px;
    transition: background .3s ease-in-out;

    &:focus {
        background-color: var(--bg-color-light-2);
    }
}

.btn,
button {
    display: inline-block;
    text-transform: uppercase;
    background-color: #c7c7c7;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
    border: none;
    cursor: pointer;

    &.primary {
        color: #000000;
        background-color: var(--color-primary-base);
    }

    &.secondary {
        color: #000000;
        background-color: var(--color-secondary-base);
    }
}

.page-layout {
    position: relative;
    width: 100%;
    min-height: 100vh;

}

.form-control {
    display: block;
    margin: 1rem 0;

    label,
    input,
    textarea {
        display: block;
    }

    input,
    textarea {
        width: 100%;
    }
}

.search {
    position: relative;
    width: 100%;

    input {
        width: inherit;
    }
}

svg {
    position: relative;
    width: 100%;
    height: 100%;
}

.icon {
    position: relative;
    width: 2rem;
    height: 2rem;
    display: flex;
    color: var(--color-primary-base);
}

.menu {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    background-color: var(--bg-color-base);

    ul {

        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    li {
        margin-left: 2rem;
        color: #f3f3f3; //var(--color-primary-base);
    }
}

.cards {
    position: relative;
    display: grid;
    grid: auto / repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.container .cards {
    padding: 1rem 0;
}

.card {
    position: relative;
    height: auto;
    padding: 1rem;
    background-color: var(--bg-color-light);
}

.card-image {
    position: relative;
    height: 200px;
    background-position: center bottom;
    background-size: cover;
}

.card-body {
    padding: 2rem 0;
    width: 100%;
    height: 200px;

    h3 {
        line-height: 1.75rem;
        margin-bottom: 1rem;
    }

    &.overflow-hidden {
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

.card-links {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;


}

.articles-list {
    .search-bar {
        position: sticky;
        top: 49px;
        padding: 1rem 0;
        z-index: 100;
        background-color: #0e0d0d;
    }
}

.article-item {
    @extend .card;
    display: grid;
    grid: 200px auto / 1fr;
    background-color: #161616;
}

.article-figure {
    background-size: cover;
    background-position: bottom;
    background-color: #0e0b0b9d;
    background-blend-mode: soft-light;
}

.article-detail {
    @extend .container;
}

.article-header {
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-color: #161616da;
    background-blend-mode: soft-light;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @extend .title;
    color : #cac8c8;
}

.article-content {
    padding: 3rem 2rem;
    background-color: #141313;

    h1 {
        color: var(--color-primary-base);
        @extend .title;
        margin: 2rem 0;
    }

    p {
        margin: 1rem 0;
    }
}

.article-others {
    display: grid;
    gap : 2rem;
    padding: 2rem 0;
    grid-template-columns: repeat(2, 1fr);

    li {
        padding: 2rem;
        background-color: var(--bg-color-light);
    }

    h4{
        margin-bottom: 1rem;
    }

    .btn {
        margin-top: 1rem;
        background-color: var(--color-secondary-base);
    }
    .next {

        .btn {
            float: right;
        }
    }
}

@media screen and (min-width: 640px) {
    .container {
        width: 80%;
    }
}